/* Colors */
:root {
  --Primary: #151515;
  --Secondary: #faf9fb;
  --PrimaryBtn: #edc80c ;
  --SecondaryBtn: #151515;
  --Accent: #9c3838 ;
}

/* Whole Section */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100vh;
}

.page_wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  background-color: var(--Primary);
}  

main {
  min-height: inherit;
  color: var(--Secondary);
}

.dataList {
  list-style: none;
}

/* Navbar Section */
nav {
  display: none;
  justify-content: space-around;
  align-items: center;
  height: 56px;
  background-color: white;
  box-shadow: 0 0 10px 1px var(--Accent);
}

/* Footer Section */

footer {
  margin-top: auto;
  display: none;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  text-align: center;
  row-gap: 2rem;
  padding-top: 12px;
  padding-bottom: 20px;

  background-color: var(--Primary);
  color: var(--Secondary);
}

.social {
  grid-column: 1 / 4;
}

.social ul {
  display: flex;
  flex-direction: row;

}

.legalStuff {
  grid-column: 1 / 4;
}



