:root {
  --Primary: #151515;
  --Secondary: #faf9fb;
  --PrimaryBtn: #edc80c ;
  --SecondaryBtn: #151515;
  --Accent: #9c3838 ;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.imaged {
  position: absolute;
}

.imaged img {
  width: 100%;
  max-width: 840px;
  height: auto;
}

.dataArrows {
  display: none;
}

/* Different boxes */

.general h1, .features h1 {
  text-decoration: underline;
  text-align: end;
}

.culture h1, .teams h1 {
  text-decoration: underline;
  text-align: start;
}

.general, .culture, .features, .teams {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: large;
  font-weight: 500;
  padding: 1rem;

  min-width: 250px;
  width: 30vw;
  max-width: 1000px;
}

.general, .features {
  text-align: end;
}

.culture, .teams {
  text-align: start;
}

.general {
  position: absolute;
  top: 125px;
  left: 0;

  border-top: 3px solid var(--PrimaryBtn);
  border-right: 3px solid var(--PrimaryBtn);
  border-bottom: 3px solid var(--PrimaryBtn);
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;

}

.culture {
  position: absolute;
  top: 125px;
  right: 0;

  display: flex;
  flex-direction: column;
  border-top: 3px solid var(--PrimaryBtn);
  border-left: 3px solid var(--PrimaryBtn);
  border-bottom: 3px solid var(--PrimaryBtn);
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;

  background-color: var(--Secondary);
  color: var(--Accent);
}

.features {
  position: absolute;
  bottom: 125px;
  left: 0;

  display: flex;
  flex-direction: column;
  border-top: 3px solid var(--PrimaryBtn);
  border-right: 3px solid var(--PrimaryBtn);
  border-bottom: 3px solid var(--PrimaryBtn);
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;

  background-color: var(--Secondary);
  color: var(--Accent);
}

.teams {
  position: absolute;
  bottom: 125px;
  right: 0;

  border-top: 3px solid var(--PrimaryBtn);
  border-left: 3px solid var(--PrimaryBtn);
  border-bottom: 3px solid var(--PrimaryBtn);
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
}

.join {
  position: absolute;
  bottom: 15px;
}