.container {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: .3rem;
}

img {
  width: 100%;
  max-width: 840px;
  height: auto;
}

.dataArrows {
  color: #9c3838;
  font-size: x-large;
  font-weight: 800;
}

@media (max-width: 767px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, .3fr);
    place-items: center;
  }
  .imaged {
    grid-column-end: span 1;
  }
}