@tailwind base;
@tailwind components;
@tailwind utilities;
 
html,
:root {
  height: 100%;
}

a, link, Link, button {
  cursor: pointer
}

@layer base {
  input[type='number']::-webkit-outer-spin-button,
  input[type='number']::-webkit-inner-spin-button,
  input[type='number'] {
    -webkit-appearance: none;
    margin: 0;
    -moz-appearance: textfield !important;
  }
}

